@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:ital,wght@0,500;0,600;0,700;1,400&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

nav{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 10px;
}
.logo-container{
    min-height: 50px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* gap: 10px; */
    width: 50%;
}
.nav-container{
    display: flex;
    align-items: center;
    min-height: 50px;
    max-width: 1440px;
    margin: 0 auto;
    
}
.logo-container img{
    /* object-fit: cover; */
    margin-right: 10px;
    /* width: 50px; */
}
.nav-item-container{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-item-container a{
    text-decoration: none;
}
.nav-item-container .btn-login{
    background-color: #e893cf;
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 5px;
    color: black;
    text-align: center;
}
.follow-btn{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    color: #3C354F;
    padding: 10px 20px;
    font-weight: 500;
    text-align: center;
    font-size: 1.125;
}
.G{
    background:  linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.81rem;
}
.amer{
    color: #0B0223;
    font-size: 2.81rem;
    
}


/* Banner section */

.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.content-container{
    
}
.banner-container{
    background-image: url("/images/Group\ 14.png");
    /* background-size: 4000px; */
    background-blend-mode: overlay;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
    /* background-image: 500px; */

    background-size: auto;
    background-size: 750px 670px;
}
.banner-title{
    color: #0B0223;
    font-size: 2.81rem;
    font-weight: 600;
    margin: 0;
     
}
.banner-go{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
    margin: 10px 0;
}
.banner-play{
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    margin: 10px 0;

}
.banner-download{
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    margin: 10px 0 ;
    
}
.banner-support{
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    margin: 5px 0;
}
.btn-left{
    margin-top: 20px;
    border-radius: 48px;
    background:  linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    border: 0;
    padding: 15px 30px;
    color: white;
}
.btn-right{
    border-radius: 48px;
    background: #4EC5F7;
    border: 0;
    padding: 15px 30px;
    color: white;
}
/* Banner section completed */

/* icon */
.youtube{
    color: #F61C0D;
    /* padding: 10px; */
    height: 20px;
    /* fill: #F61C0D; */
}

/* end icon */
.fn-title{
    text-align: center;
}
.fn-des{
    text-align: center;
    color: #534C64;
    font-size: 1.12rem;
    font-weight: 400;
    
}
.fn-first{
    color: #0B0223;
    font-size: 2.81rem;
    font-weight: 700;
}
.fn-last{
    margin-top: 20px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.81rem;
    font-weight: 700;
 
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 0 150px;
    gap: 20px;
    
}

.single-product{
    width: 100%;
    padding: 0 0px;

}
.single-product img{
    width: 100%;
    height: 500px;
}
.gird-des{
    color: #534C64;
    font-size: 1.2px;
    font-weight: 500;
    line-height: 30px;
}

/* Features */

.features{
    margin: 0 150px;
    margin-top: 130px;
    display: flex;
    justify-content: space-around;
    gap: 140px;
    align-items: center;
    }
.feat-img{
    /* position: relative; */

}
.feature-content{
    margin-bottom: 300px;
    text-align: center;
}
.feat-sub-img{
    /* border-radius: 8px; */
    /* background: #FF900E; */
    /* color: #FFF; */
    /* width: 40px; */
    /* padding: 40px; */
    /* text-align: center; */
    position: relative;
    /* top: 100px; */
    /* top: 100px; */
    /* bottom: 20px; */
    /* left: 300px; */
    /* margin-right: 650px; */
    bottom: 270px;
    left: -150px;
}
.f-title-first{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
/* text-align: right; */

font-size: 2.81rem;

font-weight: 700;

}
.f-second{
    /* text-align: right; */
    
    font-size: 2.81rem;
    
    font-weight: 700;

    color: #0B0223;
    text-align: right;
    text-align: right;

}
.f-des{
    color: #534C64;
    text-align: right;
    /* font-family: Work Sans; */
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}


.games{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* align-items: center; */
    gap: 5px;
    align-items: center;
    width: 80%;
    margin: auto;
    /* margin-left: 450px; */
    
}
.games1{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* align-items: center; */
    gap: 15px;
    /* align-items: center; */
    /* width: 50%; */
    /* margin: auto; */
    /* margin-left: 450px; */
    margin-right: 300px;
    
}
.action{
    display: flex;
    /* grid-template-columns: repeat(2,1fr); */
    align-items: center;
    gap: 5px;
    border-radius: 50px;
    background: #FFF;

    

}
.section-games{
    align-items: center;
    height: 30vh;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.games1{
    margin-top: 30px;
    margin-left: 500px;
    
}
.game-title{
    color: #0B0223;
    font-size: 1.2rem;
    font-weight: 600;
}
.action:hover {
    /* background-color: red; */
    border: 1px solid #FF42A5;
    color: #FF42A5;
    
    
}

/* Footer section */
footer{
    height: 40vh;
    background: #0B0223;
}
.icon-contain{
    /* margin-bottom: 100px; */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}
.ft{
    color: white;
}
.link-menu{
    text-align: center;
}
.link-menu a{
    text-decoration: none;
    margin-right: 50px;
    color: #FFF;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    /* margin: 0; */
   
}
.fa-brands{
    color: #FFF;
}
.icon-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 2.81rem;
}
.last-ft a{
    margin-right: 50px;
    /* margin: 0; */
}
.footer-p{
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-size: 1.2rem;
font-weight: 500;

}