@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:ital,wght@0,500;0,600;0,700;1,400&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

nav{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 10px;
}
.logo-container{
    min-height: 50px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* gap: 10px; */
    width: 50%;
}
.nav-container{
    display: flex;
    align-items: center;
    min-height: 50px;
    max-width: 1440px;
    margin: 0 auto;
    
}
.logo-container img{
    /* object-fit: cover; */
    margin-right: 10px;
    /* width: 50px; */
}
.nav-item-container{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-item-container a{
    text-decoration: none;
}
.nav-item-container .btn-login{
    background-color: #e893cf;
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 5px;
    color: black;
    text-align: center;
}
.follow-btn{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    color: #3C354F;
    padding: 10px 20px;
    font-weight: 500;
    text-align: center;
    font-size: 1.125;
}
.G{
    background:  linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.81rem;
}
.amer{
    color: #0B0223;
    font-size: 2.81rem;
    
}


/* Banner section */

.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.content-container{
    
}
.banner-container{
    background-image: url("/images/Group\ 14.png");
    /* background-size: 4000px; */
    background-blend-mode: overlay;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
    /* background-image: 500px; */
    background-size: auto;
}
.banner-title{
    color: #0B0223;
    font-size: 2.81rem;
    font-weight: 600;
    margin: 0;
     
}
.banner-go{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
    margin: 10px 0;
}
.banner-play{
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    margin: 10px 0;

}
.banner-download{
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    margin: 10px 0 ;
    
}
.banner-support{
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    margin: 5px 0;
}
.btn-left{
    margin-top: 20px;
    border-radius: 48px;
    background:  linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    border: 0;
    padding: 15px 30px;
    color: white;
}
.btn-right{
    border-radius: 48px;
    background: #4EC5F7;
    border: 0;
    padding: 15px 30px;
    color: white;
}
/* Banner section completed */